version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: pappocrafts
      POSTGRES_USER: pappocrafts
      POSTGRES_PASSWORD: pappocrafts_dev
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
